@{
    Layout = null;
}
<h2>Tarefas</h2>
<p></p>

<div class="list-group col-sm-6">
    <div class="list-group-item">
        <input type="text" class="form-control" id="Titulo" placeholder="Título" ng-model="task.Titulo">
        <textarea class="form-control" rows="5" id="Descricao" ng-model="task.Descricao" placeholder="Descrição"></textarea>
        <div class="text-right">
                <button type="button" class="btn btn-success" aria-label="Bold" ng-click="save()"><i class="fa fa-check" ng-class="{'fa fa-check' : task.Id > 0, 'fa fa-plus' : task.Id == undefined}" aria-hidden="true"></i></button>
            </div>
    </div>

    <div class="list-group-item" ng-repeat="item in data" ng-class="{'list-group-item-info': item.Status}">
        <div class="form-group" ng-click="toggle(item)">
            <h5><i aria-hidden="true" ng-class="{'fa fa-circle-o' : !item.Status, 'fa fa-check-circle-o' : item.Status}"></i> {{item.Titulo}}</h5>
            <p>{{item.Descricao}}</p>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-success" aria-label="Bold" ng-click="edit(item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger" aria-label="Bold" ng-click="delete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descricao
            </th>
            <th>
                DataCriacao
            </th>
            <th>
                DataConclusao
            </th>
            <th>
                DataExclusao
            </th>
            <th>
                DataEdicao
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in data">
            <td>
                {{ item.Titulo }}
            </td>
            <td>
                {{ item.Descricao }}
            </td>
            <td>
                {{ item.DataCriacao }}
            </td>
            <td>
                {{ item.DataConclusao }}
            </td>
            <td>
                {{ item.DataExclusao }}
            </td>
            <td>
                {{ item.DataEdicao }}
            </td>
            <td>
                {{ item.Status }}
            </td>
            <td>
                <a ng-href="#/Tarefa/Edit/{{item.Id}}">Edit</a> |
                <a ng-href="#/Tarefa/{{item.Id}}">Details</a> |
                <a ng-href="#/Tarefa/Delete/{{item.Id}}">Delete</a>
            </td>
        </tr>
    </tbody>

</table>
