@{
    Layout = null;
}
    <h2>Tarefa Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Titulo" class = "control-label col-md-2">
                Titulo
                </label>
                <div class="col-md-10">
                    {{data.Titulo}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Descricao" class = "control-label col-md-2">
                Descricao
                </label>
                <div class="col-md-10">
                    {{data.Descricao}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataCriacao" class = "control-label col-md-2">
                DataCriacao
                </label>
                <div class="col-md-10">
                    {{data.DataCriacao}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataConclusao" class = "control-label col-md-2">
                DataConclusao
                </label>
                <div class="col-md-10">
                    {{data.DataConclusao}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataExclusao" class = "control-label col-md-2">
                DataExclusao
                </label>
                <div class="col-md-10">
                    {{data.DataExclusao}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataEdicao" class = "control-label col-md-2">
                DataEdicao
                </label>
                <div class="col-md-10">
                    {{data.DataEdicao}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Status" class = "control-label col-md-2">
                Status
                </label>
                <div class="col-md-10">
                    {{data.Status}}
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/Tarefa">Back to List</a>
    </div>
